.text-field {
   -fx-background-color: white;
   -fx-background-radius: 5;
   -fx-padding: 10px;
   -fx-font-size: 15px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 5, 0, 0, 0);
   -fx-min-height:40px;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    
}
.text-field:focused{
	
	       -fx-effect: dropshadow(gaussian, #2596be, 5, 0, 0, 0);
	   
	
}
.button {
   -fx-background-color: rgb(21, 139, 238);
   -fx-text-fill: white;
   -fx-background-radius: 5;
   -fx-padding: 10px;
   -fx-font-size: 18px;
}
